<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Number Facts</title>
  <!-- Sets up the favicon icon for the page -->
  <link rel="shortcut icon" href="/images/Nu.ico">
  <!-- Links styles -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- Imports main font in use for the page Jetbrains Mono -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet"> 
</head>
  <body> 